body{
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}
h1,h2,h3,h4,h5,h6{
	margin-left: 50px;
}
label{user-select: none;}
label:has(input[type="radio"]), input[type="radio"]{
	cursor: pointer;
}
.thisDevice{
	text-decoration: underline;
	font-weight:bold;
}
